@import url(popup.css);
/* #region GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
}
   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    footer {
        background-color: #333;
        color: white;
        padding: 5px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    input {
        display: block;
        margin: 6px auto;
        padding: 5px;
    }
    button {
        padding: 10px;
        background-color: #2ecc71;
        color: white;
        border: none;
        cursor: pointer;
    }
    /* #endregion */
    /* #region DROP DOWN MENU */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropbtn {
        background-color: #3498db;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px #00000033;
        min-width: 100px;
    }
    .dropdown-content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* #endregion */
    /* #region LOGIN REGISTER */
    .auth-container {
        margin: 20px;
    }
    /* #endregion */
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #3498db;
        padding: 0px;
        margin: 0px;
    }
    .error-message {
        color: red;
        font-size: 0.9em;
    }
    
    input:invalid {
        border: 2px solid red;
    }
    input:valid {
        border: 2px solid green;
    }
    
